<section class="info">
    <div class="container">
        <a href="index.html" class="brand"><span>UIT</span><span>Lab</span></a>
        <ul class="spec_list clr">
            <li><a href="#"><span>Web</span>-design</a></li>
            <li><a href="#"><span>Front</span>-End</a></li>
            <li><a href="#"><span>Back</span>-End</a></li>
            <!--<li><a href=#"><span>SEO</span> / SMM</a></li>-->
        </ul>
        <ul class="soc_menu">
            <li class="facebook"><a href="#" class="icon">Facebook</a></li>
            <li class="twitter"><a href="#" class="icon">Twitter</a></li>
            <li class="linkedin"><a href="#" class="icon">LinkedIn</a></li>
            <li class="gplus"><a href="#" class="icon">Gplus</a></li>
            <li class="behance"><a href="#" class="icon">Behance</a></li>
        </ul>
    </div>
</section>
<footer>
    <div class="container">
        <div class="copyright">
            &copy;&nbsp;2016,&nbsp;UITlab. All&nbsp;Rights&nbsp;Reserved.
        </div>
    </div>
</footer>
</body>
</html>