<section class="info">
    <div class="container">
        <a href="/" class="brand"><span>UIT</span><span>Lab</span></a>
        <ul class="spec_list clr">
            <li><a href="services_design.html"><span>Website</span> Design</a></li>
            <li><a href="services_frontend.html"><span>Front-end</span> Development</a></li>
            <li><a href="services_cms.html"><span>Back-end</span> Development</a></li>
            <!--<li><a href=#"><span>SEO</span> / SMM</a></li>-->
        </ul>
        <ul class="soc_menu">
            <li class="facebook"><a href="#" class="icon">Facebook</a></li>
            <!--<li class="twitter"><a href="#" class="icon">Twitter</a></li>-->
            <li class="linkedin"><a href="https://www.linkedin.com/company/uitlab" class="icon">LinkedIn</a></li>
            <!--<li class="gplus"><a href="#" class="icon">Gplus</a></li>-->
            <!--<li class="behance"><a href="#" class="icon">Behance</a></li>-->
            <li class="instagram"><a href="https://www.instagram.com/uitlab/" class="icon">Instagram</a></li>
        </ul>
    </div>
</section>
<footer>
    <div class="container">
        <div class="copyright">
            &copy;&nbsp;2016,&nbsp;UITlab. All&nbsp;Rights&nbsp;Reserved.
        </div>
    </div>
</footer>
</body>
</html>