<section class="start_your_project">
    <div class="container">
        <div class="block_main_title">start your project</div>
    </div>
    <div class="dark_block">
        <div class="container">
            <p class="first_line">Do you want to <strong>GET&nbsp;RESULTS</strong> from your new website?</p>
            <p class="second_line">MAKE IT HAPPEN RIGHT NOW</p>
        </div>
    </div>
    <div class="closed collapsed dropdown">
        <div class="navbar_header clr">
            <button class="dropdown_toggle" data-component="dropdown_toggle">Fill the form</button>
        </div>
        <div class="dropdown_container">
            <div class="dropdown_bar">
                @@include('./contact_form.html')
            </div>
        </div>
    </div>
</section>