<div class="container">
    <div class="row clr">
        <a href="services_design.html" class="block design">
            <div class="title">Website Design</div>
            <div class="text">Want a new design or optimize an existing website? Find out more about our design services</div>
        </a>
        <a href="services_frontend.html" class="block frontend">
            <div class="title">front-end development</div>
            <div class="text">Have a ready design? We'll be happy to start transforming your design into full-functional website right away</div>
        </a>
        <a href="services_cms.html" class="block development">
            <div class="title">back-end development</div>
            <div class="text">Learn more about our back-end development services and feel free to start a challenging project with us!</div>
        </a>
    </div>
</div>