<div class="container clr">
    <a href="#" class="block design">
        <div class="title">Web Design</div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
    </a>
    <a href="#" class="block frontend">
        <div class="title">front-end</div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
    </a>
    <a href="#" class="block development">
        <div class="title">development</div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
    </a>
</div>