* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

html, body {
    font-family: Raleway, sans-serif;
    font-size: 10px;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.responsive_img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: top;
}

.row {
    position: relative;
}

.clr:after {
    display: table;
    content: " ";
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

.hidden {
    display: none!important;
}

@media (min-width: 768px) {

    .min-width-768 {
        display: block!important;
    }

}

@media (min-width: 998px) {

    .max-width-997 {
        display: none!important;
    }

    .min-width-998 {
        display: block!important;
    }

}

/**
--============================= .menu =============================--
**/
.menu,
.dropdown {
    text-align: left;
}

.menu .navbar_header,
.dropdown .navbar_header {
    position: relative;
}

.menu .dropdown_container,
.dropdown .dropdown_container {
    transition: height ease 0.5s;
    overflow-y: hidden;
}

.menu.closed .dropdown_container,
.dropdown.closed .dropdown_container {
    display: none;
}

.menu.collapsed .dropdown_container,
.dropdown.collapsed .dropdown_container
{
    height: 1px;
}

.menu .dropdown_bar,
.dropdown .dropdown_bar {
    position: relative;
    display: block;
}

.menu li {
    display: block;
}

.menu li a {
    display: block;
    line-height: normal;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.menu .submenu {
    display: block;
}

.block_main_title {
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    color: #000000;
    word-wrap: break-word;
}

.block_description {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    position: relative;
    color: #a6a6a6;
}

.divider {
    width: 30px;
    height: 30px;
    margin: 36px auto 48px;
    position: relative;
    background: #ffda00;
}

.divider:after {
    content: "";
    position: absolute;
    display: block;
}


/**
--============================= .slider =============================--
**/
.slider_container {
    display: none;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider .overflow_block {
    position: relative;
    transition: left ease 1s;
}

.slider .overflow_block .slider_slide {
    position: relative;
    float: left;
    overflow: hidden;
}

@media (min-width: 768px) {

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    /**
    --============================= .slider =============================--
    **/
    .slider_container {
        display: block;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

}

@media (min-width: 800px) {

    /**
    --============================= .menu =============================--
    **/
    .menu .dropdown_container {
        overflow-y: visible;
    }

    .menu.closed .dropdown_container, .menu.collapsed .dropdown_container {
        display: block;
        height: auto;
    }

    .menu .dropdown_bar {
        text-align: center;
        font-size: 1px;
        line-height: 0px;
        position: relative;
    }

    .menu .dropdown_toggle {
        display: none;
    }

    .menu .dropdown_bar:after {
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: "";
        display: inline-block;
    }

    .menu li {
        display: inline-block;
        vertical-align: top;
    }

}

@media (min-width: 998px) {

    .container {
        padding-left: 65px;
        padding-right: 65px;
    }

}