.hidden {
    display: none!important;
}

@media screen and (min-width: 465px) {

    .max-width-464 {
        display: none!important;
    }

    .min-width-465 {
        display: block!important;
    }

}

@media screen and (min-width: 500px) {

    .max-width-499 {
        display: none!important;
    }

}

@media screen and (min-width: 768px) {

    .min-width-768 {
        display: block!important;
    }

}

@media screen and (min-width: 900px) {

    .max-width-899 {
        display: none!important;
    }

}

@media screen and (min-width: 998px) {

    .max-width-997 {
        display: none!important;
    }

    .min-width-998 {
        display: block!important;
    }

}

@media screen and (min-width: 1200px) {

    .max-width-1199 {
        display: none!important;
    }

}