header {
    background: rgb(38, 38, 38);
}

#main_menu {
    background: #fff;
}

#main_menu .navbar_header {
    margin: 0 -15px;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
}

#main_menu .navbar_header .navbar_brand {
    font-size: 3em;
    font-weight: 800;
    height: 100%;
    display: block;
    padding: 25px 0px 24px;
    float: right;
}

#main_menu .navbar_header .navbar_brand span {
    color: black;
}

#main_menu .navbar_header .navbar_brand span+span {
    color: #2791f2;
}

#main_menu .navbar_header .dropdown_toggle {
    padding: 32px 15px 31px;
    background-color: transparent;
    background-image: none;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: background ease 0.5s;
}

#main_menu.open .navbar_header .dropdown_toggle {
    background: #ddd;
}

#main_menu .navbar_header .dropdown_toggle .icon_bar {
    background-color: #000;
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 1px;
}

#main_menu .navbar_header .dropdown_toggle .icon_bar+.icon_bar {
    margin-top: 6px;
}

#main_menu .dropdown_container {
    margin: 0 -15px;
}

#main_menu .dropdown_bar {
    padding: 15px 0;
}

#main_menu .dropdown_bar li a {
    font-size: 2rem;
    color: #a6a6a6;
    padding: 10px 0 10px 25px;
}

#main_menu .dropdown_bar li a:hover {
    color: #000;
    background: rgba(39, 145, 242, 0.39);
}

/*#main_menu .navbar_end {
    display: none;
}*/

#main_menu .navbar_end {
    float: left;
    width: 240px;
    padding: 0 0 20px 20px;
    text-align: center;
}

#main_menu .navbar_end .start_project {
    height: 54px;
    padding: 18px 0 0;
    display: block;
    background: #ffda00;
    transition: transform 0.5s ease 0s;
    will-change: transform;

    text-transform: uppercase;
    font-size: 1.62em;
    font-weight: 700;
    color: #000;
}

#main_menu .navbar_end .start_project:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {

    #main_menu .navbar_header {
        margin: 0 -30px;
        padding: 0 30px;
    }

    #main_menu .navbar_header .dropdown_toggle {
        padding: 32px 30px 31px;
    }

    #main_menu .dropdown_container {
        margin: 0 -30px;
    }

    #main_menu .navbar_header .dropdown_toggle {
        right: 30px;
    }

}

@media (min-width: 800px) {

    header {
        padding-top: 60px;
    }

    #main_menu .navbar_header .navbar_brand {
        font-size: 4em;
        padding: 25px 0 26px;
        float: none;
    }

    #main_menu .navbar_header {
        float: left;
        margin: 0;
        padding: 0;
        border: none;
    }

    #main_menu .dropdown_bar {
        padding: 0;
        height: 98px;
        float: left;
    }

    #main_menu .dropdown_bar li {
        display: block;
        float: left;
        height: 100%;
    }

    #main_menu .dropdown_bar li a {
        width: 100px;
        text-align: center;
        height: 100%;
        padding: 40px 0 0;
        margin: 0;

        font-size: 1.6rem;
        color: #a6a6a6;
    }

    #main_menu .dropdown_bar li a:hover {
        font-weight: 700;
        background: none;
    }

    #main_menu .dropdown_container {
        margin: 0;
        float: right;
    }

    #main_menu .navbar_end {
        width: 170px;
        padding: 14px 0 0;
    }

    #main_menu .navbar_end .start_project {
        height: 70px;
    }

}

@media (min-width: 998px) {

    #main_menu .dropdown_bar li a {
        width: 120px;
    }

    #main_menu .navbar_end {
        width: 220px;
    }

    #main_menu .navbar_end .start_project {
        padding: 26px 0 0;
    }

}

@media (min-width: 1200px) {

    #main_menu .dropdown_bar li a {
        width: 144px;
    }

}