.info {
    background: #262626;
    padding: 100px 0 45px;
}

.info .brand {
    font-size: 4em;
    font-weight: 800;
    display: inline-block;
    /*padding: 25px 0px 26px;*/
}

.info .brand span {
    color: white;
}

.info .brand span+span {
    color: #2791f2;
}

.info .spec_list {
    margin-top: 40px;
    display: block;
}


.info .spec_list li a {
    display: inline-block;
    color: white;
    font-size: 1.6em;
    padding: 7px 0;
    position: relative;
    transition: text-shadow 0.5s ease 0s;
    white-space: nowrap;
}

    .info .spec_list li {
        display: inline-block;
        /*float: none;
        width: auto;*/
    }

    .info .spec_list li+li {
        margin-left: 25px;
    }


.info .spec_list li a:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 0;
    border-bottom: 2px solid #2791f2;
    left: 1px;
    bottom: 3px;
    transition: width ease 0.5s;
}

.info .spec_list li a:hover:after {
    width: 100%;
    /*text-shadow:
            0 0 10px rgb(39, 145, 242),
            0 0 10px rgb(39, 145, 242),
            0 0 10px rgb(39, 145, 242);*/
}

.info .spec_list li span {
    position: relative;
}

.info .spec_list li span:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #2791f2;
    left: 0;
    bottom: -4px;
}

.info .soc_menu {
    margin-top: 50px;
    display: block;
}

.info .soc_menu li {
    display: inline-block;
}

.info .soc_menu li+li {
    margin-left: 20px;
}

.info .soc_menu li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    color: transparent;
    position: relative;
    /*transition: box-shadow ease 0.5s;*/
    background-image: url('../img/sprites/socials_uit.svg');
    /*background-size: auto 200%;*/
    background-size: 600% 200%;
    background-repeat: no-repeat;
}

.info .soc_menu li a:after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity ease 0.5s;
    background-image: url('../img/sprites/socials_uit.svg');
    /*background-size: auto 200%;*/
    background-size: 600% 200%;
    background-repeat: no-repeat;
}
.info .soc_menu li a:hover:after {
    opacity: 1;
}

.info .soc_menu li.facebook a {
    background-position: 0 0;
}
.info .soc_menu li.facebook a:after {
    background-position: 0 100%;
}
.info .soc_menu li.twitter a {
    background-position: 20% 0;
}
.info .soc_menu li.twitter a:after  {
    background-position: 20% 100%;
}
.info .soc_menu li.linkedin a {
    background-position: 40% 0;
}
.info .soc_menu li.linkedin a:after {
    background-position: 40% 100%;
}
.info .soc_menu li.gplus a {
    background-position: 60% 0;
}
.info .soc_menu li.gplus a:after {
    background-position: 60% 100%;
}
.info .soc_menu li.behance a {
    background-position: 80% 0;
}
.info .soc_menu li.behance a:after {
    background-position: 80% 100%;
}
.info .soc_menu li.instagram a {
    background-position: 100% 0;
}
.info .soc_menu li.instagram a:after {
    background-position: 100% 100%;
}
    /*.info .soc_menu li.vkontakte a {
        background-position: 100% 100%;
    }*/
@media screen and (max-width: 435px) {

    .info .spec_list li {
        margin-top: 10px;
        margin-left: 0!important;
        display: block;
    }
}

@media screen and (min-width: 570px) {

    .info .spec_list li+li {
        margin-left: 60px;
    }

}

@media screen and (max-width: 750px) {

    .info .spec_list li:last-child {
        margin-top: 10px;
        margin-left: 0!important;
        display: block;
    }
}

/*@media screen and(min-width: 470px) {

    .info .spec_list li {
        display: inline-block;
        float: none;
        width: auto;
    }

}*/