.web_company {
    overflow: hidden;
    position: relative;
    padding-top: 78px;
    padding-bottom: 65px;
}

.web_company .divider:after {
    height: 25px;
    border-right: 4px solid #2687e0;
    top: -10px;
    left: 13px;
}

/*#horizontal_carousel {
    padding-bottom: 65px;
    margin: 0px auto;
    max-width: 395px;
    overflow: visible;
}

#horizontal_carousel .arrow {
    height: 50px;
    width: 28px;
    position: absolute;
    top: 186px;
    z-index: 100;
}

#horizontal_carousel .arrow polyline {
    stroke: #cdcdcd;
}

#horizontal_carousel .arrow.left_arrow {
    left: 2%;
}

#horizontal_carousel .arrow.right_arrow {
    right: 2%;
}

#horizontal_carousel .arrow svg {
    height: 50px;
    width: 28px;
}

#horizontal_carousel .overflow_block {
    width: 300%;
}

#horizontal_carousel .slider_slide {
    width: 33.33333333333%;
}

#horizontal_carousel .content_block {
    width: 90%;
    min-height: 300px;
    padding: 5px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    text-align: center;
    transition: opacity ease 1s;
}

#horizontal_carousel .slider_slide .text {
    color: #a6a6a6;
    font-weight: 300;
    font-size: 1.8em;
    position: relative;
    min-height: 100px;
    padding-bottom: 25px;
    max-width: 270px;
    margin: 0 auto;
}

#horizontal_carousel .slider_slide .icon {
    display: block;
    width: 135px;
    height: 159px;
    position: relative;
    margin: 0 auto 35px;
    background: rgba(255, 0, 0, 0.1);
}

#horizontal_carousel .slider_slide .title {
    font-size: 2.2em;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 26px;
}

#horizontal_carousel .slider_slide .details {
    text-transform: uppercase;
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #ffda00;
    color: #353535;
    font-weight: 800;
    font-size: 1.6em;
    position: relative;
    padding-top: 16px;
}

#horizontal_carousel .slider_slide .details:hover {
    font-size: 1.9em;
    padding-top: 14px;
}

#horizontal_carousel .slider_slide .details:before,
#horizontal_carousel .slider_slide .details:after {
    content: "";
    position: absolute;
    width: 25px;
    border-bottom: 4px solid #2791f2;
    top: 23px;

    display: none;
}

#horizontal_carousel .slider_slide .details:hover:before,
#horizontal_carousel .slider_slide .details:hover:after {
    display: block;
}

#horizontal_carousel .slider_slide .details:hover:before {
    left: -15px;
}

#horizontal_carousel .slider_slide .details:hover:after {
    right: -15px;
}

@media screen and (min-width: 415px) {

    #horizontal_carousel .arrow.left_arrow {
        left: 0;
    }

    #horizontal_carousel .arrow.right_arrow {
        right: 0;
    }

}*/

.web_services_block_container {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.web_services_block_container .block {
    width: 100%;
    float: left;
    padding: 0 15px;
    text-align: center;
}

.web_services_block_container .block+.block {
    padding-top: 55px;
}

.web_services_block_container .block .icon {
    display: block;
    width: 155px;
    height: 144px;
    position: relative;
    margin: 0 auto 35px;
}

.web_services_block_container .block .title {
    font-size: 2.2em;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 26px;
}

.web_services_block_container .block .text {
    color: #a6a6a6;
    font-weight: 300;
    font-size: 1.8em;
    padding-bottom: 25px;
    max-width: 90%;
    margin: 0 auto;
}

.web_services_block_container .block .details {
    text-transform: uppercase;
    display: block;
    max-width: 200px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: #ffda00;
    color: #353535;
    font-weight: 800;
    font-size: 1.6em;
    position: relative;
    padding-top: 16px;
    transition:
            transform ease 0.5s,
            opacity ease 0.5s;
    will-change: transform;
}

.web_services_block_container .block .details:hover {
    /*font-size: 1.9em;
    padding-top: 14px;*/
    transform: scale(1.1);
}

.web_services_block_container .block .details:before,
.web_services_block_container .block .details:after {
    content: "";
    position: absolute;
    width: 25px;
    border-bottom: 4px solid #2791f2;
    top: 23px;
    transition:
            transform ease 0.5s,
            opacity ease 0.5s,
            left ease 0.5s,
            right ease 0.5s;
    will-change: opacity, left, right;

    /*display: none;*/
    opacity: 0;
}
.web_services_block_container .block .details:before {
    left: 0;
}
.web_services_block_container .block .details:after {
    right: 0;
}

.web_services_block_container .block .details:hover:before,
.web_services_block_container .block .details:hover:after {
    /*display: block;*/
    opacity: 1;
}
.web_services_block_container .block .details:hover:before {
    left: -15px;
}
.web_services_block_container .block .details:hover:after {
    right: -15px;
}

@media screen and (min-width: 768px) {

    .web_services_block_container .block,
    .web_services_block_container .block+.block {
        width: 33.33333333333%;
        padding-top: 0;
        padding-bottom: 50px;
    }

    .web_services_block_container .block .title {
        margin-bottom: 14px;
        min-height: 54px;
    }

    .web_services_block_container .block .text {
        max-width: 270px;
        padding-bottom: 38px;
        /*min-height: 110px;*/
    }

    .web_services_block_container .block .details {
        position: absolute;
        bottom: 0;
        left: calc(16.666665% - 100px);
    }
    .web_services_block_container .block+.block .details {
        left: calc(49.9999995% - 100px);
    }
    .web_services_block_container .block+.block+.block .details {
        left: calc(83.3333325% - 100px);
    }

}