.technologies {
    background: #f6f6f6;
    position: relative;
    padding-top: 78px;
    padding-bottom: 125px;
    display: none;
}

.technologies .container {
    padding-bottom: 1px;
}

.technologies .divider:after {
    width: 25px;
    border-bottom: 4px solid #2687e0;
    right: -10px;
    top: 13px;
}

.technologies .masonry-items-container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.technologies .tab_panel {
    /*background: rgba(0, 255, 0, 0.1);*/
    height: 67px;
    width: 100%;
    text-align: center;
}

.technologies .tab {
    display: inline-block;
    padding: 10px 15px;
    color: #a6a6a6;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    transition: color 1s ease;
}

.technologies .tab:hover {
    color: #000;
}

.technologies .tab.active {
    color: #2687e0;
}

.technologies .grid-item {
    /*width: 277px;*/
    width: 25%;
    border: 1px solid lightgray;
    float: left;
    position: relative;
    text-align: center;
}

.technologies .grid-item img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    max-height: 100%;
}

.technologies .grid-item:before,
.technologies .grid-item .hover-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.technologies .grid-item .hover-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease 1s;
    top: 0;
    left: 0;
}

.technologies .grid-item:hover .hover-container {
    opacity: 1;
}

.technologies .grid-item--height1 {
    height: 150px;
    /*background: rgba(255, 0, 0, 0.1);*/
}

.technologies .grid-item--height3.prev--height1 img {
    margin-top: 18px;
}

@media screen and (min-width: 768px) {

    .technologies {
        display: block;
    }

}

@media screen and (min-width: 998px) {

    .technologies .grid-item {
        /*width: 277px;*/
        width: 20%;
    }

}