.frontent_dev .cms_info {

}

.frontent_dev .cms_info .text_block {
    font-weight: 300;
    font-size: 1.8em;
    color: #a6a6a6;
    margin: 0 auto;
}

.frontent_dev .cms_info .cms_block_container {
    margin-top: 64px;
    display: inline-block;
}

.frontent_dev .cms_info .block {
    position: relative;
    max-height: 160px;
    background: #f6f6f6;
    border: 1px solid #e4e4e4;
    float: left;
    max-width: 130px;
    width: 50%;
}

.frontent_dev .cms_info .block img {
    max-height: 160px;
    width: auto;
    margin: 0 auto;
}

.frontent_dev .cms_info .block .hover-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease 1s;
    top: 0;
    left: 0;
}

.frontent_dev .cms_info .block:hover .hover-container {
    opacity: 1;
}

@media screen and (min-width: 400px) {

    .frontent_dev .cms_info .text_block {
        max-width: 90%;
    }

}


@media screen and (min-width: 998px) {

    .frontent_dev .cms_info .text_block {
        max-width: 964px;
    }

}
