.custom_development .first_col,
.custom_development .second_col {
    width: 100%;
    float: left;
}

.custom_development {
    overflow: hidden;
    position: relative;
    padding-top: 53px;
    padding-bottom: 69px;
}

.custom_development .block_main_title {
    font-size: 3em;
}

.custom_development .divider:after {
    height: 25px;
    border-right: 4px solid #2687e0;
    top: -10px;
    left: 13px;
}

.custom_development .img_container img {
    margin: 0 auto;
}

.custom_development .text {
    color: #a6a6a6;
    font-size: 1.8em;
    /*text-align: left;*/
    text-align: justify;
    margin-top: 55px;
}

.custom_development .text:first-letter {
    margin-left: 30px;
}

.custom_development .second_col {
    /*position: absolute;
    height: 100%;
    left: 57%;
    top: 50%;*/
    margin-top: 65px;
}

.custom_development .custom_block_container {
    /*top: 0;
    width: 100%;
    right: -47px;
    transform: translateY(-50%);*/
}

.custom_development .custom_block_container .row {
    /*width: 84.6%;
    margin-left: 15.4%;*/
}

/*.custom_development .custom_block_container .row+.row {
    margin-left: 0;
}

.custom_development .custom_block_container .row+.row+.row {
    margin-left: 9.4%;
}*/

.custom_development .custom_block_container .block {
    float: left;
    width: 33.333333%;
    position: relative;
}

.custom_development .custom_block_container .block .img_placeholder {
    padding-bottom: 124.7474747474747%;                     /* = img.height * (img.width / 100) */
    display: none;
}

.custom_development .custom_block_container .block .img_content {
    border: 1px solid #cfcfcf;
    position: relative;
    top: 0;
    left: 0;
    background: #f6f6f6;
    transition-property: left, width;
    transition-timing-function: ease;
    transition-duration: 1s;
    width: 100%;
    height: 100%;
}

.custom_development .custom_block_container .block .img_content img {
    max-height: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {

    .custom_development .first_col,
    .custom_development .second_col {
        width: 50%;
    }

    .custom_development .second_col {
        margin-top: 0;
        position: absolute;
        height: 100%;
        left: 57%;
        top: 50%;
    }

    .custom_development .custom_block_container {
        transform: translateY(-50%);
    }

    .custom_development .custom_block_container .row {
        width: 84.6%;
        margin-left: 15.4%;
        max-height: none;
    }

    .custom_development .custom_block_container .row+.row {
        margin-left: 0;
    }

    .custom_development .custom_block_container .row+.row+.row {
        margin-left: 9.4%;
    }

    .custom_development .custom_block_container .block .img_placeholder {
        display: block;
    }

    .custom_development .custom_block_container .block .img_content {
        position: absolute;
    }

    .custom_development .custom_block_container .width_3 .block.resizing:hover .img_content {
        width: 300%;
        z-index: 2;
        height: 100%;
        left: -200%;
    }

    .custom_development .custom_block_container .width_2 .block.resizing:hover .img_content {
        width: 200%;
        z-index: 2;
        height: 100%;
        left: -100%;
    }

}