.feedback {
    position: relative;
    padding-top: 78px;
    padding-bottom: 100px;
    background: #161616;
    overflow-x: hidden;
}

.feedback .block_main_title,
.feedback .block_description {
    color: #fff;
}

.feedback .divider:after {
    height: 25px;
    border-right: 4px solid #2687e0;
    bottom: -10px;
    left: 13px;
}

.feedback .formswitcher_container {
    position: relative;
}

.feedback .formswitcher_container .waiting_block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: url("../img/spinner.gif") no-repeat center center rgba(22, 22, 22, 0.5);
    z-index: 100;
    top: 0;
    left: 0;
}

.feedback .formswitcher_container.waiting_for_response .waiting_block {
    display: block;
}

.feedback input[type="text"],
.feedback input[type="email"],
.feedback textarea {
    background: #161616;
    color: #fff;
}

.feedback .customselect .title {
    background: #161616;
}

    .animated_circle {
        border-radius: 50%;
        /*border: 5px solid rgba(0, 0, 0, 1);*/
        position: relative;
    }

    .show_extended_form {
        z-index: 100;
    }

    .initial_circle,
    .inner_circle {
        background: none;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;

        text-transform: uppercase;
        color: white;
        font-weight: 800;
        font-size: 1.4em;
        text-align: center;
        /*padding: 78px 0;*/
    }

    .inner_circle {
        transform: translate(0, 0);

        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-play-state: paused;
    }

    /*.animated_circle:hover .inner_circle {
        animation-play-state: running;
    }*/

    .animated_circle.js-play .inner_circle {
        animation-play-state: running;
    }

    /*---animated_circle_1---*/
    .animated_circle_1 {
        width: 170px;
        height: 170px;
        margin: 0 auto;
        top: 140px;
        z-index: 2;
        /*box-shadow: inset 0 0 0 5px rgba(39, 145, 242, 1);*/
    }

    /*.animated_circle_1 .inner_circle:nth-child(2n),*/
    .animated_circle_1 .inner_circle,
    .animated_circle_1 .initial_circle {
        border: 4px solid rgba(39, 145, 242, 1);
    }
    /*.animated_circle_1 .inner_circle:nth-child(2n+1) {
        border: 4px solid yellow;
    }*/

    /*.animated_circle_1 .initial_circle {
        transition: border-color ease 1s;
    }
    .animated_circle_1 .initial_circle:hover {
        border: 4px solid yellow;
    }*/

    @keyframes circle_1_animation-border {
        100% {
            width: 160%;
            height: 160%;
            top: -30%;
            left: -30%;
            /* transform: translate(-50%, -50%); */
            border: 0 solid rgba(39, 145, 242, 0);
        }
    }

    .animated_circle_1 .inner_circle {
        animation-name: circle_1_animation-border;
    }

    .animated_circle_1 .inner_circle.inner_circle_1 {
        animation-delay: 0s!important;
    }
    .animated_circle_1 .inner_circle.inner_circle_2 {
        animation-delay: -0.6666666666666667s!important;
    }
    .animated_circle_1 .inner_circle.inner_circle_3 {
        animation-delay: -1.333333333333333s!important;
    }
    .animated_circle_1 .inner_circle.inner_circle_4 {
        animation-delay: -2s!important;
    }
    .animated_circle_1 .inner_circle.inner_circle_5 {
        animation-delay: -2.666666666666667s!important;
    }
    .animated_circle_1 .inner_circle.inner_circle_6 {
        animation-delay: -3.333333333333333s!important;
    }
    /*---animated_circle_1---*/

    /*---animated_circle_2---*/
    .animated_circle_2 {
        width: 33px;
        height: 33px;
        position: absolute;
        top: 80px;
        left: calc(50% - 180px);
        /*box-shadow: inset 0 0 0 5px rgba(39, 145, 242, 1);*/
    }

    /*.animated_circle_2 .inner_circle:nth-child(2n),*/
    .animated_circle_2 .inner_circle,
    .animated_circle_2 .initial_circle {
        border: 1px solid rgba(39, 145, 242, 0.7);
    }
    /*.animated_circle_2 .inner_circle:nth-child(2n+1) {
        border: 1px solid yellow;
    }*/

    @keyframes circle_2_animation-border {
        100% {
            width: 350%;
            height: 350%;
            top: -125%;
            left: -125%;
            /* transform: translate(-50%, -50%); */
            border: 0 solid rgba(39, 145, 242, 0);
        }
    }

    .animated_circle_2 .inner_circle {
        animation-name: circle_2_animation-border;
    }

    .animated_circle_2 .inner_circle.inner_circle_1 {
        animation-delay: 0s!important;
    }
    .animated_circle_2 .inner_circle.inner_circle_2 {
        animation-delay: -1s!important;
    }
    .animated_circle_2 .inner_circle.inner_circle_3 {
        animation-delay: -2s!important;
    }
    .animated_circle_2 .inner_circle.inner_circle_4 {
        animation-delay: -3s!important;
    }
    /*---animated_circle_2---*/

    /*---animated_circle_3---*/
    .animated_circle_3 {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 100px;
        left: calc(50% + 133px);
        /*box-shadow: inset 0 0 0 5px rgba(39, 145, 242, 1);*/
    }

    /*.animated_circle_3 .inner_circle:nth-child(2n),*/
    .animated_circle_3 .inner_circle,
    .animated_circle_3 .initial_circle {
        border: 1px solid rgba(39, 145, 242, 1);
    }
    /*.animated_circle_3 .inner_circle:nth-child(2n+1) {
        border: 1px solid yellow;
    }*/

    @keyframes circle_3_animation-border {
        100% {
            width: 210%;
            height: 210%;
            top: -55%;
            left: -55%;
            /* transform: translate(-50%, -50%); */
            border: 0 solid rgba(39, 145, 242, 0);
        }
    }

    .animated_circle_3 .inner_circle {
        animation-name: circle_3_animation-border;
    }

    .animated_circle_3 .inner_circle.inner_circle_1 {
        animation-delay: 0s!important;
    }
    .animated_circle_3 .inner_circle.inner_circle_2 {
        animation-delay: -1s!important;
    }
    .animated_circle_3 .inner_circle.inner_circle_3 {
        animation-delay: -2s!important;
    }
    .animated_circle_3 .inner_circle.inner_circle_4 {
        animation-delay: -3s!important;
    }
    /*---animated_circle_3---*/

    /*---animated_circle_4---*/
    .animated_circle_4 {
        width: 73px;
        height: 73px;
        position: absolute;
        top: 315px;
        left: calc(50% - 130px);
        /*box-shadow: inset 0 0 0 5px rgba(39, 145, 242, 1);*/
    }

    /*.animated_circle_4 .inner_circle:nth-child(2n),*/
    .animated_circle_4 .inner_circle,
    .animated_circle_4 .initial_circle {
        border: 1px solid rgba(39, 145, 242, 1);
    }
    /*.animated_circle_4 .inner_circle:nth-child(2n+1) {
        border: 1px solid yellow;
    }*/

    @keyframes circle_4_animation-border {
        100% {
            width: 200%;
            height: 200%;
            top: -50%;
            left: -50%;
            /* transform: translate(-50%, -50%); */
            border: 0 solid rgba(39, 145, 242, 0);
        }
    }

    .animated_circle_4 .inner_circle {
        animation-name: circle_4_animation-border;
    }

    .animated_circle_4 .inner_circle.inner_circle_1 {
        animation-delay: 0s!important;
    }
    .animated_circle_4 .inner_circle.inner_circle_2 {
        animation-delay: -1s!important;
    }
    .animated_circle_4 .inner_circle.inner_circle_3 {
        animation-delay: -2s!important;
    }
    .animated_circle_4 .inner_circle.inner_circle_4 {
        animation-delay: -3s!important;
    }
    /*---animated_circle_4---*/

.feedback .close_form {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/sprites/sprite_1.png') no-repeat;
    background-position: -240px 0;
    top: -15px;
    right: 10px;
}

.feedback .customselect.option_selected .title {
    color: white;
}

.feedback .customselect ul {
    color: white;
    background: #161616;
}

.feedback .customselect li:hover {
    background-color: #2687E0;
}

.feedback .uploadbutton .input {
    color: #fff;
}

.feedback .uploadbutton .icon {
    /*background-position: -200px 0;*/
    background-position: -200px 0;
}

/*.feedback .uploadbutton:hover .input {
    text-shadow:
            0 0 12px #2687e0,
            0 0 12px #2687e0,
            0 0 12px #2687e0;
}*/

@media screen and (min-width: 768px) {

    .feedback .form-switcher {
        transition: margin ease 1s;
    }

    .feedback .form1_visible .form-switcher {
        margin-left: 0;
    }

    .feedback .form2_visible .form-switcher {
        margin-left: -100%;
    }

    .feedback .second_col {
        position: absolute;
        left: 50%;
        height: 100%;
        top: 0;
    }

}


