.contact_us {
    position: relative;
    padding-top: 78px;
    padding-bottom: 100px;
    background: white;
    overflow-x: hidden;
}

.contact_us .block_main_title,
.contact_us .block_description {
    color: #161616;
}

.contact_us .divider:after {
    height: 25px;
    border-right: 4px solid #2687e0;
    bottom: -10px;
    left: 13px;
}

.contact_us .form-switcher input[type="text"],
.contact_us .form-switcher input[type="email"],
.contact_us .form-switcher textarea {
    background: #fff;
    color: #161616;
}

.contact_us .form-switcher .customselect .title {
    background: #fff;
}

.contact_us .form-switcher .customselect.option_selected .title {
    color: #161616;
}

.contact_us .form-switcher .customselect ul {
    color: #161616;
    background: #fff;
}

.contact_us .form-switcher .uploadbutton .input {
    color: #2687e0;
}

.contact_us .form-switcher .uploadbutton .icon {
    background: url('../img/sprites/sprite_1.png') no-repeat;
    background-position: -220px 0;
}

.contact_us .form-switcher .uploadbutton:hover .input {
    text-shadow:
            0 0 12px #2687e0,
            0 0 12px #2687e0,
            0 0 12px #2687e0;
}