.service_types {
    border-top: 3px solid black;
    padding-top: 45px;
    padding-bottom: 55px;
}

.service_types .block {
    position: relative;
    text-align: center;
    padding: 50px 0;
}

.service_types .block+.block {
    border-top: 2px solid rgb(218, 218, 218);
}

.service_types .title {
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.service_types .text {
    text-align: left;
    font-size: 1.8em;
    color: #a6a6a6;
    margin: 10px auto 0;
    max-width: 90%;
    position: relative;
    z-index: 1;
}

.service_types .img_container {
    max-width: 335px;
    margin: 0 auto;
}

.service_types .details {
    display: block;
    width: 200px;
    height: 50px;
    margin: 25px auto 0;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    background: #ffda00;
    padding-top: 16px;
    position: relative;
    z-index: 1;
}

.service_types .details:after {
    content: "";
    width: 40px;
    height: 0;
    position: absolute;
    border-bottom: 4px solid #2687e0;
    top: 23px;
    transition:
            opacity ease 0.5s,
            right ease 0.5s,
            left ease 0.5s;
    right: 0;
    opacity: 0;
}

.service_types .details:hover:after {
    right: -25px;
    opacity: 1;
}

.service_types .img_container img {
    margin: 15px auto 0;
}

@media screen and (min-width: 768px) {

    .service_types .block {
        text-align: left;
    }

    .service_types .text_container {
        width: 48%;
        text-align: right;
    }

    .service_types .frontend .text_container {
        margin-left: 52%;
        text-align: left;
    }

    .service_types .text {
        margin: 35px 0 0;
        max-width: none;
        text-align: right;
    }

    .service_types .frontend .text {
        text-align: left;
    }

    .service_types .img_container {
        position: absolute;
        /*bottom: 50px;*/
        /*right: 0;*/
        height: 100%;
        top: 50%;
    }

    .service_types .design .img_container {
        left: calc(52% - 33px);
    }
    .service_types .frontend .img_container {
        right: calc(52% - 31px);
    }
    .service_types .backend .img_container {
        left: calc(52% - 42px);
    }

    .service_types .img_container img {
        margin: 0;
        transform: translateY(-50%);
    }

    .service_types .details {
        margin: 25px 0 0 auto;
    }

    .service_types .frontend .details {
        margin-left: 0;
    }

    .service_types .design .details:after,
    .service_types .backend .details:after {
        right: auto;
        left: 0;
    }

    .service_types .details:hover:after {
        right: -25px;

    }

    .service_types .design .details:hover:after,
    .service_types .backend .details:hover:after {
        right: auto;
        left: -25px;
    }

}