.vertical-slider .slide .bg_layer,
.vertical-slider .slide .tab,
.vertical-slider .slide .img,
.vertical-slider .overflow_block {
    transition-timing-function: linear;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-property: background-color;
}

.vertical-slider .slide .title {
    transition: margin linear 0.4s, font-size linear 0.4s;
}

.vertical-slider .slide .img,
.vertical-slider .overflow_block {
    transition-property: top;
}

.vertical-slider {
    height: 441px;
    overflow: hidden;
}

.vertical-slider .slide {
    height: 147px;
    position: relative;
    box-shadow: 0 0 10px black;
}

.vertical-slider .slide.closed {
    overflow: hidden;
}

.vertical-slider .slide.closing-after-breakpoint,
.vertical-slider .slide.closed {
    box-shadow: 0 0 0 black;
}

.vertical-slider .slide .bg_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: #262626;
    border: 0 solid #5197d6;
}

.vertical-slider .slide .tab {
    position: absolute;
    display: none;
}

.vertical-slider .slide .content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    height: 100%;
    padding: 0 15px;
}

.vertical-slider .slide .video-container {
    display: none;
}

.vertical-slider .slide .img_container {
    display: none;
}

.vertical-slider .slide.tab-bottom .bg_layer {
    border-width: 0 0 1px 0;
}

.vertical-slider .slide.tab-top .bg_layer {
    border-width: 1px 0 0 0;
}

.vertical-slider .slide.closing-after-breakpoint.tab-top .bg_layer,
.vertical-slider .slide.closed.tab-top .bg_layer {
    border-width: 1px 0 0 0;
}

.vertical-slider .slide.opening-after-breakpoint .bg_layer,
.vertical-slider .slide.open .bg_layer {
    border-width: 0;
}

.vertical-slider .slide.tab-bottom.closing-after-breakpoint+.slide.tab-top.closing-after-breakpoint .bg_layer,
.vertical-slider .slide.tab-bottom.closed+.slide.tab-top.closed .bg_layer {
    border-width: 0;
}

.vertical-slider .slide.bgIndex1 .bg_layer,
.vertical-slider .slide.bgIndex1 .tab {
    background: #0f0f0f;
}

.vertical-slider .slide.bgIndex2 .bg_layer,
.vertical-slider .slide.bgIndex2 .tab {
    background: #1B1B1B;
}

.vertical-slider .slide.bgIndex3 .bg_layer,
.vertical-slider .slide.bgIndex3 .tab {
    background: #272727;
}

.vertical-slider .slide.bgIndex4 .bg_layer,
.vertical-slider .slide.bgIndex4 .tab {
    background: #3e3e3e;
}

.vertical-slider .slide.bgCenter .bg_layer,
.vertical-slider .slide.bgCenter .tab {
    background: #0f0f0f;
}

/*.vertical-slider .slide.center.closing-before-breakpoint .bg_layer,
.vertical-slider .slide.center.closing-after-breakpoint .bg_layer,
.vertical-slider .slide.center.closed .bg_layer,
.vertical-slider .slide.center.closing-before-breakpoint .tab,
.vertical-slider .slide.center.closing-after-breakpoint .tab,
.vertical-slider .slide.center.closed .tab {
    background: #0e0e0e;
}

.vertical-slider .slide.closing-before-breakpoint .bg_layer,
.vertical-slider .slide.closing-after-breakpoint .bg_layer,
.vertical-slider .slide.closed .bg_layer,
.vertical-slider .slide.closing-before-breakpoint .tab,
.vertical-slider .slide.closing-after-breakpoint .tab,
.vertical-slider .slide.closed .tab {
    background-color: #161616;
}

.vertical-slider .slide.opening-before-breakpoint .bg_layer,
.vertical-slider .slide.opening-after-breakpoint .bg_layer,
.vertical-slider .slide.open .bg_layer,
.vertical-slider .slide.opening-before-breakpoint .tab,
.vertical-slider .slide.opening-after-breakpoint .tab,
.vertical-slider .slide.open .tab {
    background-color: #0B0B0B;
}

.vertical-slider .slide.collapsing-before-breakpoint .bg_layer,
.vertical-slider .slide.collapsing-after-breakpoint .bg_layer,
.vertical-slider .slide.collapsed .bg_layer,
.vertical-slider .slide.collapsing-before-breakpoint .tab,
.vertical-slider .slide.collapsing-after-breakpoint .tab,
.vertical-slider .slide.collapsed .tab,
.vertical-slider .slide.open+.slide.collapsed+.slide.collapsed .bg_layer,
.vertical-slider .slide.open+.slide.collapsed+.slide.collapsed .tab,
.vertical-slider .slide.opening-before-breakpoint+.slide.collapsing-before-breakpoint+.slide.collapsing-before-breakpoint .tab,
.vertical-slider .slide.opening-after-breakpoint+.slide.collapsing-after-breakpoint+.slide.collapsing-after-breakpoint .tab,
.vertical-slider .slide.opening-before-breakpoint+.slide.collapsing-before-breakpoint+.slide.collapsing-before-breakpoint .bg_layer,
.vertical-slider .slide.opening-after-breakpoint+.slide.collapsing-after-breakpoint+.slide.collapsing-after-breakpoint .bg_layer {
    background-color: #262626;
}

.vertical-slider .slide.collapsed+.slide.collapsing-before-breakpoint .bg_layer,
.vertical-slider .slide.collapsed+.slide.collapsing-after-breakpoint .bg_layer,
.vertical-slider .slide.collapsed+.slide.collapsed .bg_layer,
.vertical-slider .slide.collapsed+.slide.collapsing-before-breakpoint .tab,
.vertical-slider .slide.collapsed+.slide.collapsing-after-breakpoint .tab,
.vertical-slider .slide.collapsed+.slide.collapsed .tab,
.vertical-slider .slide.collapsing-before-breakpoint+.slide.collapsing-before-breakpoint .tab,
.vertical-slider .slide.collapsing-after-breakpoint+.slide.collapsing-after-breakpoint .tab,
.vertical-slider .slide.collapsing-before-breakpoint+.slide.collapsing-before-breakpoint .bg_layer,
.vertical-slider .slide.collapsing-after-breakpoint+.slide.collapsing-after-breakpoint .bg_layer,
.vertical-slider .slide:first-child.opening-before-breakpoint+.slide.collapsing-before-breakpoint .bg_layer,
.vertical-slider .slide:first-child.opening-after-breakpoint+.slide.collapsing-after-breakpoint .bg_layer,
.vertical-slider .slide:first-child.open+.slide.collapsed .bg_layer,
.vertical-slider .slide:first-child.opening-before-breakpoint+.slide.collapsing-before-breakpoint .tab,
.vertical-slider .slide:first-child.opening-after-breakpoint+.slide.collapsing-after-breakpoint .tab,
.vertical-slider .slide:first-child.open+.slide.collapsed .tab {
    background-color: #161616;
}*/

.vertical-slider .slide .text_block {
    width: 90%;
    /*padding-top: 1px;*/
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0px, -50%);
    z-index: 1;
    text-align: justify;
}

.vertical-slider .slide .title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.6em;
    text-align: center;

    display: none;
}

.vertical-slider .slide.opening-before-breakpoint .title,
.vertical-slider .slide.opening-after-breakpoint .title,
.vertical-slider .slide.open .title {
    font-size: 2.2em;
}

.vertical-slider .slide .title span {
    color: #fff;
}

.vertical-slider .slide .title span+span {
    color: #2791f2;
}

.vertical-slider .slide .text {
    font-weight: 300;
    color: #fff;
    font-size: 1.6em;
    max-width: 400px;
    margin: 0 auto;
    /*min-height: 70px;*/

    display: none;
}

.vertical-slider .slide .details {
    width: 100%;
    max-width: 300px;
    /*height: 52px;*/
    background: #ffda00;
    border: none;
    border-radius: 0;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 800;
    padding: 13px 10px;
    position: relative;
    margin: 0 auto;

    transition: margin linear 0.4s;

    display: none;
}

.vertical-slider .slide .details:after {
    content: "";
    width: 50px;
    height: 0;
    position: absolute;
    border-bottom: 4px solid #2687e0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity ease 0.5s, right ease 0.5s;
    right: 0;
    opacity: 0;
}

.vertical-slider .slide .details:hover:after {
    right: -35px;
    opacity: 1;
}

.vertical-slider .slide.closing-before-breakpoint .title,
.vertical-slider .slide.closing-after-breakpoint .title,
.vertical-slider .slide.closed .title {
    display: block;
    /*margin-top: 111px;*/
}

.vertical-slider .slide.opening-before-breakpoint .title,
.vertical-slider .slide.opening-after-breakpoint .title,
.vertical-slider .slide.open .title {
    /*margin-top: 45px;*/
    display: block;
}

.vertical-slider .slide.opening-before-breakpoint .text,
.vertical-slider .slide.opening-after-breakpoint .text,
.vertical-slider .slide.open .text {
    margin-top: 25px;
}

.vertical-slider .slide.open .text {
    display: block;
}

.vertical-slider .slide.open .details {
    margin-top: 25px;
    display: block;
}

.vertical-slider .slide.collapsing-before-breakpoint .title,
.vertical-slider .slide.collapsing-after-breakpoint .title,
.vertical-slider .slide.collapsed .title {
    display: block;
    /*margin-top: 17px;*/
}

.vertical-slider .slide.collapsing-before-breakpoint .details,
.vertical-slider .slide.collapsing-after-breakpoint .details,
.vertical-slider .slide.collapsed .details {
    display: none;
}

.vertical-slider .side-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    opacity: 0;
    will-change: opacity;
    transition: opacity ease 0.2s;
    text-align: right;
}

.vertical-slider .side-menu li {
    display: block;
    cursor: pointer;
    /* background: rgba(255,0,0,.8); */
    height: 68px;
    position: relative;
    padding: 0 26px 0 0;
    overflow: hidden;
}
.vertical-slider .side-menu li:after {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    border-right: 2px solid #8c8c8c;
}
.vertical-slider .side-menu li.active:after {
    border-right: 2px solid #2687e0;
}

.vertical-slider .side-menu li+li {
    margin-top: 20px;
}

.vertical-slider .side-menu .number {
    vertical-align: middle;
    font-size: 2.2em;
    font-weight: 300;
    color: #8c8c8c;
    padding: 0 36px 0 10px;
    display: inline-block;
    font-family: Roboto, sans-serif;
}
.vertical-slider .side-menu li.active .number {
    font-size: 4.6em;
    color: #fff;
}

.vertical-slider .side-menu .btn_title {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #8c8c8c;
    font-weight: 500;
    transform: translateY(-50%) rotate(90deg);
    display: block;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    right: 3px;
    margin: auto 0;
    width: 85px;
    text-align: center;
}
.vertical-slider .side-menu li.active .btn_title {
    color: #fff;
}

.vertical-slider .overflow_block {
    position: relative;
}

@media screen and (min-width: 800px) {

    .vertical-slider .slide.collapsing-before-breakpoint .side-menu,
    .vertical-slider .slide.closing-before-breakpoint .side-menu,
    .vertical-slider .slide.opening-after-breakpoint .side-menu {
        display: block;
    }
    .vertical-slider .slide.open .side-menu {
        display: block;
        opacity: 1;
    }

    .vertical-slider {
        height: 699px;
    }

    .vertical-slider .slide {
        height: 233px;
    }

    .vertical-slider .slide .tab {
        display: block;
    }

    .vertical-slider .slide .top-tab {
        width: 318px;
        height: 139px;
        z-index: 2;
        left: calc(50% + 1px);
    }

    .vertical-slider .slide .bottom-tab {
        width: 320px;
        height: 140px;
        border: 1px solid #5197d6;
        z-index: 0;
        left: calc(50% + 0px);
        box-shadow: 0 0 10px black;
    }

    .vertical-slider .slide.closed .bottom-tab {
        box-shadow: 0 0 0 black;
    }

    .vertical-slider .slide.tab-bottom .tab {
        top: 0;
    }

    .vertical-slider .slide.tab-top .top-tab {
        top: calc(100% - 139px);
    }

    .vertical-slider .slide.tab-top .bottom-tab {
        top: calc(100% - 140px);
    }

    .vertical-slider .slide .content {
        width: 725px;
        padding: 0;
    }

    .vertical-slider .slide .video-container {
        position: absolute;
        right: 0;
        /*top: 0;*/
        height: 300px;
        width: 400px;
        display: none;
        top: 50%;
        transform: translate(0px, -50%);
    }

    .vertical-slider .slide .img_container {
        display: block;
        position: absolute;
        /*width: 100%;*/
        width: 175px; /*width of .img*/
        right: 108px;
        top: -48px;
        height: 100%;
        min-height: 140px; /*height of .bottom-tab*/
    }

    .vertical-slider .slide .img {
        position: absolute;
        right: 0;
        width: 175px;
        height: 125px;
        top: calc(50% + 48px);
        transform: translate(0px, -50%);
    }
    .vertical-slider .slide.collapsing-before-breakpoint.tab-top .img,
    .vertical-slider .slide.collapsing-after-breakpoint.tab-top .img,
    .vertical-slider .slide.collapsed.tab-top .img {
        top: 50%;
    }
    .vertical-slider .slide.opening-before-breakpoint.front-end .img,
    .vertical-slider .slide.opening-after-breakpoint.front-end .img,
    .vertical-slider .slide.open.front-end .img {
        top: calc(50% + 57px);
    }

    .vertical-slider .slide.front-end .img {
        background-image: url('../img/front-end_125x175.png');
    }
    .vertical-slider .slide.back-end .img {
        background-image: url('../img/back-end_125x175.png');
    }
    .vertical-slider .slide.design .img {
        background-image: url('../img/design_125x175.png');
    }

    .vertical-slider .slide.front-end.open .video-container {
        /*top: 105px;*/
        right: 1px;
    }

    .vertical-slider .slide.back-end.open .video-container {
        /*top: 105px;*/
        right: -4px;
    }

    .vertical-slider .slide.design.open .video-container {
        /*top: 105px;*/
        right: -4px;
    }

    .vertical-slider .slide.open .video-container {
        display: block;
    }

    .vertical-slider .slide .text_block {
        width: 350px;
        /*margin: 0;*/
        right: auto;
    }

    .vertical-slider .slide .text {
        max-width: none;
        margin: 0;
        /*min-height: 70px;*/
    }

    .vertical-slider .slide .title {
        text-align: left;
        font-size: 1.8em;
    }

    .vertical-slider .slide .details {
        width: 350px;
        font-size: 2em;
        padding: 15px 10px;
        margin: 0;
        max-width: none;
    }

    .vertical-slider .slide .details:after {
        width: 50px;
    }

    .vertical-slider .slide .details:hover:after {
        right: -35px;
    }

    .vertical-slider .slide.open .details {
        margin-top: 17px;
    }

}

@media screen and (min-width: 1040px) {

    .vertical-slider .slide .content {
        width: 770px;
    }

    .vertical-slider .slide .top-tab {
        left: calc(50% + 74px);
    }

    .vertical-slider .slide .bottom-tab {
        left: calc(50% + 73px);
    }

    .vertical-slider .slide .img_container {
        right: 65px; /*-43*/
    }

    .vertical-slider .slide.front-end.open .video-container {
        /*top: 105px;*/
        right: -42px;
    }

    .vertical-slider .slide.back-end.open .video-container {
        /*top: 105px;*/
        right: -47px;
    }

    .vertical-slider .slide.design.open .video-container {
        /*top: 105px;*/
        right: -47px;
    }

}

@media screen and (min-width: 1140px) {

    .vertical-slider .slide .top-tab {
        left: calc(50% + 136px);
    }

    .vertical-slider .slide .bottom-tab {
        left: calc(50% + 135px);
    }

    .vertical-slider .slide .img_container {
        right: 0;
    }

    .vertical-slider .slide.front-end.open .video-container {
        right: -107px;
    }

    .vertical-slider .slide.back-end.open .video-container {
        right: -112px;
    }

    .vertical-slider .slide.design.open .video-container {
        right: -112px;
    }

}
